<nav>
  <add-channel></add-channel>
  <ul>
    <!-- TODO itérer sur les channels -->
    <li *ngFor="let channel of channels" >
      <a [routerLink]="[(channel.id)]" class="btn btn-link">{{channel.name}}</a>
    </li>
  </ul>
</nav>


<style >
  :host {
    display: block;
    padding: 0;
    margin: 0;
  }

  add-channel {
    border-bottom: 1px solid #eee;

  }
  li {
    list-style-type: none;
  }

  a {
    display: block;
    padding: 8px 16px;
    text-align: center;
    border-bottom: 1px solid #eee;
  }

</style>
